.top-text{
position: absolute;
color: white;
text-shadow: -1px 2px 0px black, 1px 2px 0px black, 2px -1px 0px black, 2px 1px 0px black;
font-size: 2.5rem;
left: 10%;

}
.bottom-text{
position: absolute;
left:10%;
color: white;
font-size: 2.5rem;
text-shadow: -1px 2px 0px black, 1px 2px 0px black, 2px -1px 0px black, 2px 1px 0px black;
bottom: 0;
}

.image-container {
    margin-top: 2.5rem;
    position: relative;
    
}

img{
    height: 60vh;
    object-fit: contain;
}


.image-container > p{
    margin-top: 1rem;
   
}

