.nav{
    height: 5rem;
    background-image: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    align-items: center;
}
.nav > img {
    height: 55%;
    margin-left: 2rem;
}
.nav > h1{
    color: white;
    margin-left: .5rem;
}
.nav > p {
    color: white;
    font-family: 'Inter';
    font-weight: 500;
    margin-left: auto;
    margin-right: 3rem;
}
