.mainContainer{
    margin-top: 2.5rem ;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.inputs{
    width: 90%;
    display:flex;
    justify-content: space-between;
}

.textBox{
    width: 45%;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid gray;
}
.newImagebtn{
    margin-top: 2.5rem;
    width: 90%;
    height: 3rem;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: 'karla';
    font-size: 1.5rem;
}

.form{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}